@charset "utf-8";
/* Base CSS */

/* 

This makes sure that the padding 
and border are included in the total 
width and height of the elements. 
*/

* {
    box-sizing: border-box;
}

/* Center the Page */

html, body {
	margin: 0 auto;
	padding: 0 auto;
	
}

section {
	width:100%;
	height: auto;
	float: left;
}

.clearfix {
    overflow: auto;
}

span.name {
	font-size: 5em;
	padding: 1%;
	text-align: left;
	font-weight: 300;
}

/* fixed */

.strip ul{
	padding: 0;
	margin: 0;
}

.strip ul li{
	list-style: none;
}

.strip a {
	text-decoration: none;
	color: #000000;
}
