@charset "utf-8";
/* Base CSS */

/* Wrap*/
.l-wrap{
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	height: auto;
	display: block;
}


/* Header */

header , footer, main {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	
}

header .l-image {
	width: 20%;
	height: 200px;
}


header .l-image-right {
	width: 80%;
	height: 200px;
	
}

header .l-image-right .l-item-side{
	width:90%;
	height: 100%;
	float: left;
	
}

.l-image-right .l-item-side .l-item-side-top {
	height: 50%;
	width: 100%;
	float: left;
}

.l-image-right  .l-item-side .l-item-side-bottom {
	height: 50%;
	width: 100%;
	float: left;
}

header .l-image-right .l-item-top{
	width: 10%;
}

header .l-image-right .l-item-bottom{
	width: 10%;
	
}

.l-image , .l-image-right , .l-item-side {
	float: left;
}

.l-item-top , .l-item-bottom {
	float: right;
	height: 50%;
}



/* Header Menu */

/* Head */

nav.top-menu {
	
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
}

nav.top-menu ul {

	vertical-align:middle;
	float: left;
	width: 100%;
	height: 100%;
	
	
}

nav.top-menu ul li {
		
	width: 20%;
	float: left;
	height: 100%;
	padding: 2%;
}


nav.top-menu ul li a {
	
	text-align: center;
	font-size: 2em;
	height: 100%;
	float: left;
	width: 100%;

}

/* About */

.l-about {
	
	width:100%;
	height: auto;
	clear: both;
	padding: 2%;
	float: left;
}

/* Main */

main .l-main-content{
	float:left;
	width: 80%;
	height: auto;
	clear: both;
}

main .l-main-content aside.l-left{
	
	width: 100%;
	height: auto;
	
}

main .l-main-content aside.l-right{
	
	width: 20%;
	height: auto;
	padding: 1%;
	
}

aside.l-left , aside.l-right {
	float:left;
}


/* Main Right*/

.l-main-right {
	width: 19%;
	height: auto;
	float: left;
	margin-left: 1%;
}



/*Title */

.l-main-right .title {
	
	width: 100%;
	height: auto;
	float: right;
	padding: 1%;
	clear: both;
	margin-top: 2%; 
}

/* Skills */

.mySkills {
	width:100%;
	float: left;
	margin-top: 10px;
	clear: both;

}

.mySkills .wrap-graph {
	width:20%;
	float: left;
	height: auto;
		
}

.mySkills .skill-title {
	width:80%;
	float: left;
	height: auto;
	padding: 1%;
	
}

.mySkills .skills {
	width:50px;
	height:50px;

}



/* Content Area */

/* Article Information */

section .l-title {

	width: 100%;
	height: auto;
	float: left;
	clear: both;
	padding:1%;
}

section .l-content {
	clear:both;
	width: 100%;
	height: auto;
	float: left;
	padding: 1%;
	
}

/* Left*/
.l-content .l-content-left {
	width:20%;
	height: auto;
	float: left;
	padding-right: 2%;
		
}

.l-month1 {
	float: right;
	width: 35%;
}

.l-month-center{
	float: right;
	width: 15%;
}

.l-month2 {
	float: right; 
	width: 35%;
}

.l-date-range {
	clear: both;
	
}

.l-range1 {
	float: right;
	width: 35%;
}

.l-range-center {
	
	float: right;
	width: 15%;
}

.l-range2 {
	float: right;
	width: 35%;
}

.l-company {
	clear: both;
	float: right;
	width: 100%;
}

/* Right */

.l-content .l-content-right {
	width:80%;
	height: auto;
	float: left;
	padding-left: 1%;
}


.l-content-right .l-content-title {
	
	width: 100%;
	clear: both;
	height: auto;
	margin-bottom: 1%;
	float: left;
}



/* fixed */

.strip ul{
	padding: 0;
	margin: 0;
}

.strip ul li{
	list-style: none;
}

.strip a {
	text-decoration: none;
	color: #000000;
}


