@charset "utf-8";
/* base CSS */

header , footer, main {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
}

header .l-image {
	width: 20%;
	height: 100px;
}

header .l-image-right {
	width: 80%;
	height: 100px;
	
}

header .l-image-right .l-item-side{
	width:90%;
	height: 100px;
	
}


header .l-image-right .l-item-top{
	width: 10%;
}

header .l-image-right .l-item-bottom{
	width: 10%;
	
}

.l-image , .l-image-right , .l-item-side {
	float: left;
}

.l-item-top , .l-item-bottom {
	float: right;
	height: 50px;
}


main .l-main-content{
	flot:left;
}

main .l-main-content aside.l-left{
	
	width: 80%;
	
}

main .l-main-content aside.l-right{
	
	width: 20%;
	
}

aside.l-left , aside.l-left {
	float:left;
}



