@charset "utf-8";
/* Base CSS */

/* Wrap*/
.l-wrap{
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	height: auto;
	display: block;
}


/* Header */

header , footer, main {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	
}

header {
	margin-bottom:1%;
}

/* Image Setion */

header .l-image {
	width: 15%;
	height: 210px;
	padding: 1%;
	
}

/* 2x2 Max Size for Image*/

header .l-image img {
	float:left;
	width:100%;
	height: 100%;
	max-width: 400px;
	max-height: 400px;
}


/* Right of the Image */

header .l-image-right {
	width: 85%;
	height: 210px;

	
}
/* Right of the 1st division */

header .l-image-right .l-item-side{
	width:95%;
	height: 100%;
	float: left;
	
}

/* Right of the top : name section */
.l-image-right .l-item-side .l-item-side-top {
	height: 50%;
	width: 80%;
	float: left;
	
}

/* Right of the top: address section */
.l-image-right .l-item-side .l-item-side-top-right {
	width: 20%;
	float: left;
	height: 50%;
	
	
}

.contact-title {
	float:left;
	clear: both;
	width:100%;
	height: 30%;
	z-index: 100;
	padding: 1%;
}


/* Address */

.l-item-side-top-right .address {
	width: 100%;
	height: 70%;
	float:left;
	padding: 2%;
	z-index: 90;
	
}

.address-design img {
	max-width:30px;
	max-height: 30px;
	display: block;
}

/* Right of Image Section*/
.l-image-right  .l-item-side .l-item-side-bottom {
	height: 50%;
	width: 100%;
	float: left;
}

/* Phone */
 .l-item-side-bottom .phone {
	width: 20%;
	height: 100%;
	float:left;
	padding: 1%;
	
}

/* Profile */

.profile {
	width:80%;
	float: left;
	height: auto;
	padding: 2%;
}


/* Download and Menu Section */

header .l-image-right .l-item-side-right{
	width:5%;
	height: 100%;
	float: left;
}


header .l-image-right .l-item-top{
	width: 100%;
	
}

header .l-image-right .l-item-bottom{
	width: 100%;
	
}

/* FLoat to left */

.l-image , .l-image-right , .l-item-side {
	float: left;
}

/* Download Section */
.l-item-top , .l-item-bottom {
	float: right;
	height: 50%;
}


/* Navigation */

nav.top-menu {
	
	float: left;
	width: 30%;
	height: 100%;
}

nav.top-menu ul {

	vertical-align:middle;
	float: left;
	width: 100%;
	height: 100%;
	
}

nav.top-menu ul li {
		
	width: 20%;
	float: left;
	height: 100%;
	padding: 1%;
}


nav.top-menu ul li a {
	
	text-align: center;
	font-size: 2em;
	height: 100%;
	float: left;
	width: 100%;
	display:block;

}

/* Main */

main .l-main-content{
	float:left;
	width: 80%;
	height: auto;
	clear: both;
}

main .l-main-content aside.l-left{
	
	width: 100%;
	height: auto;
	
}

main .l-main-content aside.l-right{
	
	width: 20%;
	height: auto;
	padding: 1%;
}

aside.l-left , aside.l-right {
	float:left;
}


/* Main Right*/

.l-main-right {
	width: 19%;
	height: auto;
	float: left;
	margin-left: 1%;
}



/*Title */

.l-main-right .title {
	
	width: 100%;
	height: auto;
	float: right;
	padding: 1%;
	clear: both;
	margin-top: 2%; 
}

/* Skills */

.mySkills {
	width:100%;
	float: left;
	margin-top: 10px;
	clear: both;

}

.mySkills .wrap-graph {
	width:20%;
	float: left;
	height: auto;
		
}

.mySkills .skill-title {
	width:80%;
	float: left;
	height: auto;
	padding: 1%;
	
}

.mySkills .skills {
	width:50px;
	height:50px;

}



/* Content Area */

/* Article Information */

section .l-title {

	width: 100%;
	height: auto;
	float: left;
	clear: both;
	padding:1%;
}

section .l-content {
	clear:both;
	width: 100%;
	height: auto;
	float: left;
	padding: 1%;
	
}

/* Left*/
.l-content .l-content-left {
	width:20%;
	height: auto;
	float: left;
	padding-right: 2%;
		
}

.l-month1 {
	float: right;
	width: 35%;
}

.l-month-center{
	float: right;
	width: 15%;
}

.l-month2 {
	float: right; 
	width: 35%;
}

.l-date-range {
	clear: both;
	
}

.l-range1 {
	float: right;
	width: 35%;
}

.l-range-center {
	
	float: right;
	width: 15%;
}

.l-range2 {
	float: right;
	width: 35%;
}

.l-company {
	clear: both;
	float: right;
	width: 100%;
}

/* Right */

.l-content .l-content-right {
	width:80%;
	height: auto;
	float: left;
	padding-left: 1%;
}


.l-content-right .l-content-title {
	
	width: 100%;
	clear: both;
	height: auto;
	margin-bottom: 1%;
	float: left;
}

footer {
	width: 100%;
	clear: both;
	height: 100px;
	float: left;
}