@charset "utf-8";
/* Base CSS */

/* Font */

h1 { font-family: "Droid Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Droid Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Droid Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Droid Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Droid Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


/* head */
.l-image {
	background-color:aquamarine;
	border-radius: 50%;
}

.l-item-side-top {
	background-color:azure;
}

.l-item-top{
	background-color:bisque;
}

.l-item-bottom{
	background-color:burlywood;
}


.l-title {
	background-color:darkgray;
	color: #FFFFFF;
	font-size: 3em;
}

/* head */

/* Navigation Resources */

nav.top-menu ul li {
	background-color: antiquewhite;
	border: solid 1px #000000;
}

nav.top-menu ul li a{
	border: #000000 solid 1px;
	vertical-align: baseline;
	text-align: center;
	display: block;
}

/* About */

.l-about {
	font-size: 1.2em;
	background-color: azure;
}

/*Nav Right*/

.l-right {
	background-color: darkorange;
}

/* Content */

.l-content {
	border-bottom: #CFCDCD dashed 1px;
}

/* l-content-left */

.l-date-month {
	font-weight: 300;
	text-transform: uppercase;
	
}

.l-month1 {
	text-align: center;
}

.l-month2 {
	text-align: center;
}


.l-date-range {
	
}
 

.l-range1 , .l-range-center,.l-range2 {
	text-align: center;
	font-size: 2.5em;
}


.l-company {
	text-align: right;
	font-size: 2em;
}

/* .l-content-right */


.l-content-right {
	border-left: #AC9D9D dashed 1px;
}

.l-content-title {
	font-size: 1.5em;
}

.l-content-data {
	font-size: 1.1em;
}

/* l-main content Right */

.l-main-right {
	
	
}

.l-main-right .title {
	
	font-size: 2em;
	border-bottom: #CCCCCC dashed 1px;
}
