@charset "utf-8";
/* Base CSS */

/* Font */

body {
	font-family: 'Allerta';
}


/* head */

.l-image{
	background-color:azure;
}
.l-image img {
	
	border-radius: 90%;
}

.l-item-side-top {
	background-color:azure;
}

.l-item-top{
	background-color:bisque;
}

/* address and Phone*/

.l-item-side-top-right .address {
	background-color:azure;
}

.l-item-side-top-right .address .address-design{
	
	font-size: 1.5em;
	text-align:left;
	
}

.l-item-side-bottom .phone{
	background-color:aliceblue;
	font-size: .9em;
	text-align: left;
	
}

.l-item-bottom{
	background-color:burlywood;
}

/* Content Title */

.l-title {
	background-color:darkgray;
	color: #FFFFFF;
	font-size: 3em;
}

/* head */

/* Navigation Resources */

nav.top-menu ul li {
	background-color: antiquewhite;
	
}

nav.top-menu ul li a{
	border: #000000 solid 1px;
	vertical-align: baseline;
	text-align: center;
	display: block;
}

/* About */

.profile {
	font-size: 1em;
	background-color: azure;
}

/*Nav Right*/

.l-right {
	background-color: darkorange;
}

/* Content */

.l-content {
	border-bottom: #CFCDCD dashed 1px;
}

/* l-content-left */

.l-date-month {
	font-weight: 300;
	text-transform: uppercase;
	
}

.l-month1 {
	text-align: center;
}

.l-month2 {
	text-align: center;
}


.l-date-range {
	
}
 

.l-range1 , .l-range-center,.l-range2 {
	text-align: center;
	font-size: 2.5em;
}


.l-company {
	text-align: right;
	font-size: 2em;
}

/* .l-content-right */


.l-content-right {
	border-left: #AC9D9D dashed 1px;
}

.l-content-title {
	font-size: 1.5em;
}

.l-content-data {
	font-size: 1.1em;
}

/* l-main content Right */

.l-main-right {
	
	
}

.l-main-right .title {
	
	font-size: 2em;
	border-bottom: #CCCCCC dashed 1px;
}

footer {
	background-color: aliceblue;
}
